<form {{on "submit" (prevent-default this.authenticate)}} class="row row-cols-xs-auto g-3">
  <div class="col-12 mb-2 me-sm-2 mb-sm-0">
    <label for="password" class="sr-only">Password</label>
    <input {{on "input" this.setPassword}} type="password" value={{this.password}} placeholder="Enter Password" id="password" class="form-control">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

{{#if this.errorMessage}}
  {{! template-lint-disable no-inline-styles }}
  <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
    {{this.errorMessage}}
  </div>
{{/if}}