@import 'bootstrap/scss/bootstrap';

body {
  padding-top: 70px;
}

h1 {
  font-weight: 200;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
}

h2 {
  border-bottom: 1px solid #eaecef;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
}

.card-header input[type=search] {
  border: none;
  border-bottom: 1px solid #999;
  background-color: transparent;
  padding: 6px;
  max-width: 200px;
  box-shadow: none;
  border-radius: 0;

  &:focus {
    border-color: #66afe9;
  }
}

.CodeMirror {
  height: 100%;
  width: 100%;
}

.card-body {
  *:last-child {
    margin-bottom: 0;
  }
}

.traces {
  .card-header {
    cursor: pointer;

    .chevron {
      width: 14px;
      text-align: center;
    }

    .fa-chevron-right {
      display: none;
    }

    .fa-chevron-down {
      display: initial;
    }

    &.collapsed {
      .fa-chevron-right {
        display: initial;
      }

      .fa-chevron-down {
        display: none;
      }
    }
  }
}
