<ul>
{{#each (sort-by "id" model) as |sparqlet|}}
<li>{{#link-to 'sparqlets.show' sparqlet.id}}{{if sparqlet.title sparqlet.title sparqlet.id}}{{/link-to}} {{sparqlet.apiPath}}</li>
{{/each}}
</ul>

{{#link-to 'sparqlets.new' class='btn btn-primary'}}{{fa-icon 'plus-circle'}} New SPARQLet{{/link-to}}
