<nav class="navbar navbar-expand-lg fixed-top {{if session.isAuthenticated "navbar-dark bg-dark" "navbar-light bg-light"}}">
  <LinkTo @route="sparqlets" class="navbar-brand">SPARQList</LinkTo>

  <ul class="navbar-nav">
    <li class="nav-item">
      {{#if session.isAuthenticated}}
        <a {{action "invalidateSession"}} href="#" class="nav-link">Logout</a>
      {{else}}
        <LinkTo @route="login" class="nav-link">Login</LinkTo>
      {{/if}}
    </li>
  </ul>
</nav>

<div class="container">
  {{outlet}}
</div>