<nav class="navbar navbar-inverse bg-inverse fixed-top">
  <div class="container">
    {{#link-to 'sparqlets' class='navbar-brand'}}SPARQList{{/link-to}}
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
