<form {{action "authenticate" on="submit"}} class="form-inline">
  <div class="mb-2 mr-sm-2 mb-sm-0">
    <label for="password" class="sr-only">Password</label>
    {{input id="password" placeholder="Enter Password" type="password" value=password class="form-control"}}
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{{#if errorMessage}}
  {{! template-lint-disable no-inline-styles }}
  <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
    {{errorMessage}}
  </div>
{{/if}}